@page "/sobre"
<h4 style="margin-top:40px;">Sobre</h4>
<div>
    <p>O Projeto Green é um sistema off-grid de captação e armazenamento de energia solar.</p>
    <p>O Green Monitor é um dos componentes deste sistema, responsável por medir e controlar outros componentes.</p>
    <br />
    <p><a href="https://www.linkedin.com/pulse/green-monitor-richard-r-manzke/">Saiba mais...</a></p>
</div>

@code {

}
